[Desktop Entry]
Encoding=UTF-8
Name=Edita
GenericName=Edita
Exec=cd %path%; npm start -- %F
Icon=%path%/install/resources/icon-96x96.png
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Application;Development;Editor;Utility;TextEditor;
